* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

/* ------Navigation/Menu del--------*/
nav {
    background-color: #60c960;
}

.logo,
.menu {
    display: inline-block;
}

.logopic {
    margin: 20px;
    font-family: fantasy;
    font-size: 20px;
    padding-left: 40px;
}

.logopic{
    width: 60%;
    
}

.logopic:hover{
    transform: scale(1.1);
    
    transition: 0.7s;
}

.logopic a {
    text-decoration: none;
}

.logopic a:visited {
    color: black
}

.menu {
    float:right;
    margin: 30px;
    font-size: 60px;
}

.menu ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 40px;
    
}

.menu ul li a {
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 27px;
    padding-right: 13px;
    padding-left: 13px;
    font-family: cursive;
    font-size: 22px;
    color: black;
    border-style: solid;
    border-color: #982328;
}

.menu ul li a:hover {
    background-color: white;
    transition: all 0.5s ease;
}

/*----------Header del -----------*/

header {
    background-image: url(../images/tiger.jpg);
    height: 650px;
    background-size: cover;
    background background-repeat:no-repeat;
    background-position-y: -205px;
    color: #982328;
}

header h1 {
    font-family: sans-serif
}



.heroSplash {
    text-align: center;
    padding-top: 100px;
}


.buttonContact {
    background-color: #60c960;
    color: #982328;
    display: inline-block;
    padding: 30px 50px;
    font-weight: bold;
    text-decoration: none;
    font-family: cursive;
    border-style: solid;
    font-size: 25px;
    margin-top: -12px;
    
}

.buttonContact:hover {
    background-color: white;
    color: #982328;
    transition: all 0.5s ease;
}

/*---------- Om odense zoo -----------*/

.aboutMe {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: cursive;
}

.aboutMe:after {
    content: "";
    display: block;
    clear: both;
}

.aboutMe h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: cursive;
    position: relative;
    color: #982328;
    
}

.aboutMe h2:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -8px;
    background-color: #60c960;
}

.aboutMe .collumnLeft {
    padding-left: 5%;
    padding-right: 5%;
    
}

.aboutMe a {
    background-color: #60c960;
    padding: 10px 20px;
    text-decoration: none;
    color: #982328;
    font-family: cursive;
    display: inline-block;
    font-weight: bold;
    border-style: solid;
}

.aboutMe a:hover {
    background-color: white;
    transition: all 0.5s ease;
    border-style: solid;
}

.aboutMe .collumnLeft, .aboutMe .collumnRight {
    width: 45%;
    float: left;
}

.aboutMe .collumnLeft img {
    max-width: 100%;
}


/*---------- news style -----------*/
.zooNews {
    background-color: #4cb148;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    font-family: cursive;
}

.zooNews h2 {
    text-transform: uppercase;
    position: relative;
    color: #982328;
}

.zooNews h2:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -8px;
    background-color: #60c960;
}

.zooNews:after {
    content: "";
    display: block;
    clear: both;
}
.zooNews h4{
    font-size: 18px;

    
}

.zooNews .newsOne, .zooNews .newsTwo, .zooNews .newsThree {
    width: 33.333333333%;
    display: inline-block;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}  

.newsOne img {
    border: solid;
    height: 333px;
}

.newsOne .newsTwo .newsThree. p {
    font-family: cursive;
}

.newsTwo img {
    border: solid;
    height: 333px;
}

.newsThree img {
    border: solid;
    height: 333px;
}

/* prisliste */ 


.columns {
    float: left;
    width: 33.3%;
    padding: 8px;
    background-color: 

}

.priceheader{
    text-align: center;
    font-family: cursive;
    text-transform: uppercase;
    position: relative;
    color: #982328;
}

.priceheader:after{
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -8px;
    background-color: #60c960;
}

.price {
    list-style-type: none;
    border: 1px solid #eee;
    margin: 0;
    padding: 0;
    font-family: cursive;
}


.price .header {
    background-color: #111;
    color: white;
    font-size: 25px;
}

.price li {
    border-bottom: 1px solid #eee;
    padding: 20px;
    text-align: center;
}

.price .grey {
    background-color: #eee;
    font-size: 20px;
}

.button {
    background-color: #60c960;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-family: cursive;
}

/* footer */ 

.footerMain{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px cursive;

	padding: 55px 50px;
	margin-top: 80px;
}

.footerMain .footer-left,
.footerMain .footer-center,
.footerMain .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footerMain .footer-left{
	width: 40%;
    
}

.footerMain .footer-left img {
    width: 40
}

/* Footer Center */

.footerMain .footer-center{
	width: 35%;
}

.footerMain .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footerMain .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footerMain .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footerMain .footer-center p a{
	color:  #60c960;
	text-decoration: none;;
}


/* Footer Right */

.footerMain .footer-right{
	width: 20%;
}

.footerMain .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footerMain .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footerMain .footer-icons{
	margin-top: 25px;
}

.footerMain .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}