* {
    box-sizing: border-box;
}


body {
    margin: 0;
}

/* ------Navigation/Menu del--------*/
nav {
    background-color: #60c960;
}

.logo,
.menu {
    display: inline-block;
}

.logopic {
    margin: 20px;
    font-family: fantasy;
    font-size: 20px;
    padding-left: 40px;
}

.logopic{
    width: 60%;
    
}

.logopic:hover{
    transform: scale(1.1);
    
    transition: 0.7s;
}

.logopic a {
    text-decoration: none;
}

.logopic a:visited {
    color: black
}

.menu {
    float:right;
    margin: 30px;
    font-size: 60px;
}

.menu ul {
    list-style: none;
    padding-left: 0px;
    margin: 0;
}

.menu ul li {
    display: inline-block;
    margin-right: 40px;
    
}

.menu ul li a {
    text-decoration: none;
    padding-top: 30px;
    padding-bottom: 27px;
    padding-right: 13px;
    padding-left: 13px;
    font-family: cursive;
    font-size: 22px;
    color: black;
    border-style: solid;
    border-color: #982328;
}

.menu ul li a:hover {
    background-color: white;
    transition: all 0.5s ease;
}

/*----------Header del -----------*/

header {
    background-image: url(../images/tiger.jpg);
    height: 650px;
    background-size: cover;
    background background-repeat:no-repeat;
    background-position-y: -205px;
}

header h1 {
    font-family: sans-serif
}



.heroSplash {
    text-align: center;
    padding-top: 100px;
}


.buttonContact {
    background-color: #60c960;
    color: #982328;
    display: inline-block;
    padding: 30px 50px;
    font-weight: bold;
    text-decoration: none;
    font-family: cursive;
    border-style: solid;
    font-size: 25px;
    margin-top: -12px;
    
}

.buttonContact:hover {
    background-color: white;
    color: #982328;
    transition: all 0.5s ease;
}

/*---------- Om odense zoo -----------*/

.aboutMe {
    width: 100%;
    padding-top: 70px;
    padding-bottom: 70px;
    font-family: sans-serif;
}

.aboutMe:after {
    content: "";
    display: block;
    clear: both;
}

.aboutMe h2 {
    color: #333;
    text-align: center;
    text-transform: uppercase;
    font-family: sans-serif;
    position: relative;
    
}

.aboutMe h2:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -8px;
    background-color: #60c960;
}

.aboutMe .collumnLeft {
    padding-left: 5%;
    padding-right: 5%;
    
}

.aboutMe a {
    background-color: #60c960;
    padding: 10px 20px;
    text-decoration: none;
    color: #982328;
    font-family: sans-serif;
    display: inline-block;
    font-weight: bold;
    border-style: solid;
}

.aboutMe a:hover {
    background-color: white;
    transition: all 0.5s ease;
    border-style: solid;
}

.aboutMe .collumnLeft, .aboutMe .collumnRight {
    width: 45%;
    float: left;
}

.aboutMe .collumnLeft img {
    max-width: 100%;
}


/*---------- news style -----------*/
.zooNews {
    background-color: #4cb148;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center;
    font-family: sans-serif;
}

.zooNews h2 {
    text-transform: uppercase;
    position: relative;
}

.zooNews h2:after {
    content: "";
    position: absolute;
    width: 80px;
    height: 2px;
    margin-left: -40px;
    left: 50%;
    bottom: -8px;
    background-color: #60c960;
}

.zooNews:after {
    content: "";
    display: block;
    clear: both;
}

.zooNews .newsOne, .zooNews .newsTwo, .zooNews .newsThree {
    width: 33.333333333%;
    display: inline-block;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}  

.newsOne img {
    border: solid;
    height: 333px;
}

.newsTwo img {
    border: solid;
    height: 333px;
}

.newsThree img {
    border: solid;
    height: 333px;
}


